{% extends 'dashboard/base/base.html' %}
{% block title %} Our Cars {% endblock %}
{% load static %}
{% block style %}
<style>
{% include 'dashboard/documents/upload-file.css' %}
</style>
{% endblock %}
{% block content %}
<div style="padding:40px;" class="container">
    <h3 style="padding:20px;">Our Cars</h3>
     <form method="POST" enctype="multipart/form-data" style="margin:40px;">
                            {% csrf_token %}
                            {{ form.media }}

                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Car Name</label>
                                    {{ form.name }}
                                </div>
                            
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Brand Name</label>
                                    {{ form.brand }}
                                </div>
                         
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Model Name</label>
                                    {{ form.model }}
                                </div>
                      
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Type Name</label>
                                    {{ form.type }}
                                </div>
                          
                                
                         
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Features </label>
                                    {{ form.features }}
                                </div>
                            
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Location</label>
                                    {{ form.location }}
                                </div>
                         
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Year</label>
                                    {{ form.year }}
                                </div>
                           
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Color</label>
                                    {{ form.color }}
                                </div>
                        
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Transmission</label>
                                    {{ form.transmission }}
                                </div>
                            
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Image</label>
                                      {{form.image}}
                                </div>
                           
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Price</label>
                                    {{ form.price }}
                                </div>
                           
                                <div class="col-md-3 col-sm-3">
                                    <label for="exampleFormControlInput1">Description</label>
                                    {{ form.description }}
                                </div>
                             </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">On Sale</label>
                                    {{ form.is_on_sale }}
                                </div>
                          
                                <div class="col-md-6 col-sm-12" >
                                    <label for="exampleFormControlInput1">On Rent</label>
                                    {{ form.is_on_rent }}
                                </div>
                         
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Featured</label>
                                    {{ form.is_featured }}
                                </div>
                           


                            
                                <button type="submit" class="btn btn-primary btn-default">Submit</button>
                                <a href="{% url 'dashboard:cars' %}" class="btn btn-secondary btn-default">Cancel</a>
                            
                        </form>
</div>

{% endblock %}
{% block script %}
<script>
{% include 'dashboard/documents/upload-file.js' %}
</script>
<script>
    $("#id_type").change(function () {
      var url = $("#category_form").attr("data-related-category");  // get the url of the `load_cities` view
      var TypeId = $(this).val();  // get the selected country ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: url, 
        method:'GET',                   // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'type': TypeId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_categories").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
  
    });
  </script>
{% endblock %}