{% extends 'dashboard/base/base.html' %}
{% block title %} Cars {% endblock %}
{% load static %}
{% block content %}
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-9 main-chart">
        <!--CUSTOM CHART START -->
        <div class="border-head">
          <h3>Our Cars</h3>
          <a href="{% url 'dashboard:cars-create' %}" type="button" class="mb-1 btn btn-outline-primary">Add Cars</a>
        </div>
        <div class="card-body">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th scope="col">S.N</th>
                                    <th scope="col" width='25%'>Name</th>
                                    <th scope="col" width='25%'>Brand</th>
                                    <th scope="col" width='25%'>Model</th>
                                    <th scope="col" width='25%'>Type</th>
                                    <th scope="col" width='25%'>category</th>
                                    <th scope="col" width='25%'>Features</th>
                                    <th scope="col" width='25%'>Location</th>
                                    <th scope="col" width='25%'>Year</th>
                                    <th scope="col" width='25%'>Color</th>
                                    <th scope="col" width='25%'>Transmission</th>
                                    <th scope="col" width='25%'>Image</th>
                                    <th scope="col" width='25%'>Price</th>
                                    <th scope="col" width='25%'>Description</th>
                                    <th width='20%'>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cars in object_list %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ cars.name }}</td>
                                    <td>{{ cars.brand }}</td>
                                    <td>{{ cars.model }}</td>
                                    <td>{{ cars.type }}</td>
                                    <td>{{ cars.category }}</td>
                                    <td>{{ cars.features }}</td>
                                    <td>{{ cars.location }}</td>
                                    <td>{{ cars.year }}</td>
                                    <td>{{ cars.color }}</td>
                                    <td>{{ cars.transmission }}</td>
                                    <td>{{ cars.image }}</td>
                                    <td>{{ cars.price }}</td>
                                    <td>{{ cars.description|safe }}</td>
                                    <td>{{ cars.is_on_sale }}</td>
                                    <td>{{ cars.is_on_rent }}</td>
                                    <td>{{ cars.is_featured }}</td>
                                    <td>
                                        <span>
                                            <a href="{% url 'dashboard:cars-update' cars.pk %}" class="btn btn-sm btn-success"><span class ="mdi mr-1 mdi-square-edit-outline">Edit</span></a>
                                        </span>
                                        <span>
                                            <a href="{% url 'dashboard:cars-delete' cars.pk %}" class="btn btn-sm btn-danger delete"><span class ="mdi mr-1 mdi-trash-can">Delete</span></a>
                                        </span>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


    </div>
    </div>
    <!-- /row -->
  </section>
</section>
{% block script %}
<script>
$('.delete').click(function(e) {
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "It will permanently deleted !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = $(this).attr('href');
                    swal(" 'Your file has been deleted.'!", {
                        icon: "success",
                    });
                }
            });
    })
</script>
{% endblock %}
{% endblock %}
