{% extends 'dashboard/base/base.html' %}
{% block title %} Our Services {% endblock %}
{% load static %}
{% block content %}
<div style="padding:40px;" class="container">
    <h3 style="padding:20px;">Our Cars</h3>
            <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}

                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Title</label>
                                    {{ form.title }}
                                </div>
                            </div>
                              <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Image</label>
                                    {{ form.image }}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-sm-12">
                                    <label for="exampleFormControlInput1">Description</label>
                                    {{ form.description }}
                                </div>
                            </div>
                          

                            <div class="form-footer pt-4 pt-5 mt-4 border-top">
                                <button type="submit" class="btn btn-primary btn-default">Submit</button>
                                <a href="{% url 'dashboard:services' %}" class="btn btn-secondary btn-default">Cancel</a>
                            </div>
            </form>

</div>

{% endblock %}
