<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
      <h5 class="centered">Sam Soffes</h5>
      <li class="mt">
        <a class="active" href="index.html">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
          </a>
      </li>
      <li class="sub-menu">
        <a href="{% url 'dashboard:brands' %}">
          <i class="fa fa-desktop"></i>
          <span>Brands</span>
          </a>
      </li>
      <li class="sub-menu">
        <a href="{% url 'dashboard:models' %}">
          <i class="fa fa-desktop"></i>
          <span>Models</span>
          </a>
      </li>
       <li class="sub-menu">
        <a href="{% url 'dashboard:cars' %}">
          <i class="fa fa-desktop"></i>
          <span>Cars</span>
          </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
